{{form_start(form, {'method': 'POST'})}} {# opening form tags with attrs #}
{# form_row gives us complete control on fields #}
{{form_row(form.firstName,{
    label:'First Name', 'attr': { 'readonly': 'true' }
})}}
{{form_row(form.lastName,{
    label:'Last Name', 'attr': { 'readonly': 'true' }
})}}
{{form_row(form.email , {'attr': { 'readonly': 'true' }})}}
{{form_row(form.phone , {'attr': { 'readonly': 'true' }})}}
{{form_row(form.gender , {'attr': { 'disabled': 'true' }})}}
{{form_row(form.picture , {'attr': { 'readonly': 'true' }})}}
{{form_end(form)}}
<br>
<br>

{% if is_granted('ROLE_PM') %} {# PM is logged in #}
{% else %}
    <a href="/user/update/{{id}}" class="btn btn-primary edit-user mb-3" data-id="{{id}}">Edit Your Profile</a>
{% endif %}




