{% extends "base.html.twig" %}

{% block title %} Users {% endblock %}

{# Body Starts Here #}
{% block body %} 

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <a href="/user/save" class="btn btn-dark">Add User</a><hr>
    {% if signup_requests %}
        <table id="users_table" class="table table-stripped col-md-812">
            <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-3">Email</th>
                    <th class="col-md-1">Role</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in signup_requests %}
                    <tr>
                        <td>{{user.firstName}}</td>
                        <td>{{user.email}}</td> 
                        <td>
                            {% for role in user.roles %}
                                {{role}}
                            {% endfor %}
                        </td>    
                        <td>{{user.status}}</td>
                        <td>
                            <a href="/request/details/{{user.id}}" class="btn btn-dark btn-sm" >Details</a>
                            <a href="/request/approve_request/{{user.id}}" class="btn btn-success btn-sm">Approve</a>
                            <a href="/request/decline_request/{{user.id}}" class="btn btn-danger delete-user" data-id="{{user.id}}">Decline</a>
                            
                            {# <a href="/user/delete/{{user.id}}" class="btn btn-danger delete-user" data-id="{{user.id}}">Delete</a> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>    
    {% else %}
        <p>No Users to display.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
