{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

    {# {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %} #}
    

    <form method="post">
    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    <h1 class="h3 mb-3 font-weight-normal">New Team</h1>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control mb-2" required autofocus>
    <label for="manager">Manager</label>
    {# <input type="manager" name="manager" id="manager" class="form-control" required> #}
    <select class="form-control">
        {% for project_manager in project_managers %}
            <option>{{project_manager->getFirstName()}}</option>

    </select>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary mt-3" type="submit">
        Sign in
    </button>
</form>

{% endblock %}
