{% extends "base.html.twig" %}

{% block title %} Manager Newsfeed {% endblock %}

{# Body Starts Here #}
{% block body %}
    

    {# I've used composer require form to built the form from controller #}

    <h2>{{team.name}}</h2>

    <a href="/teams/add_team_member/{{team.id}}" class="btn btn-success btn-sm" >Invite Member</a>
    <table id="users_table" class="table table-stripped col-md-12">
            <thead>
                <tr>

                    <th class="col-md-2">Members</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for teamMember in teamMembers %}
                    <tr>
                        <td>{{teamMember.first_name}} {{teamMember.last_name}}</td>
                        <td> 
                            <a href="/teams/details/team_member/{{teamMember.id}}" class="btn btn-dark btn-sm" >Details</a>
                        </td>
                      
                    </tr>
                {% endfor %}
            </tbody>

        </table>   

{% endblock %}

